#logo {
  width: 35px;
  height: 35px;
}
.position-fixed {
  bottom: 20px;
  width: 13%;
}
.img-profile {
  width: 24px;
  height: 24px;
}
.list-group-item {
  border-radius: 15px;
}
.list-group-item:hover {
  background-color: #f6f6f6;
}
.list-group-item-red:hover {
  background-color: #fce3e1 !important;
}
.hide {
  width: 4% !important;
}
.bg-side {
  background-color: #ffffff;
  height: 96%;
  border-radius: 15px;
  position: absolute;
}
.activeMenu {
  background-color: #EA4335 !important;

  & i, span {
    color: var(--white-txt) !important;
  }
}

.w-8 {
    width: 8%;
}

.w-16 {
    width: 16%;
}

.list-group-item {
    border: none !important;
}

.line {
  border-top: 1px solid #00000015;
}
