<div class="bg-side pb-3 px-3 f-14 {{showMenu ? 'w-0' : 'w-100'}}">
  <ul class="list-group list-group-flush px-0 pt-5 pb-3 mt-4 overflow-auto h-100">

    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}"
        placement="start"
        [ngbPopover]="popContent">
      <img src="../../../assets/images/user.png" class="rounded-circle img-profile {{showMenu ? '' : 'ms-3'}}" />
      <span >رامین مهربانیان</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}"
        data-bs-toggle="offcanvas"
        [routerLink]="['/orders']" routerLinkActive="activeMenu">
      <i class="icon-fo-ticket f-23 gray-color {{showMenu ? '' : 'ms-3'}}"></i>
      <span >سفارش غذا</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}"
        data-bs-toggle="offcanvas"
        [routerLink]="['/transactions']" routerLinkActive="activeMenu">
      <i class="icon-fo-wallet f-23 gray-color {{showMenu ? '' : 'ms-3'}}"></i>
      <span>کیف پول</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}"
        data-bs-toggle="offcanvas"
        [routerLink]="['/order-reports']" routerLinkActive="activeMenu">
      <i class="icon-fo-slide-page f-23 gray-color {{showMenu ? '' : 'ms-3'}}"></i>
      <span >سفارشات</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}" (click)="openModalWithComponent()">
      <i class="icon-fo-security-check f-23 gray-color {{showMenu ? '' : 'ms-3'}}"></i>
      <span >شیوه استفاده</span>
    </li>
    <div class="line my-3"></div>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}">
      <span>دسترسی کاربر</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}">
      <span >دسترسی مدیر</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}">
      <span>دسترسی مهرسام</span>
    </li>
    <li class="align-items-center justify-content-between d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}">
      <span >رزرو خودکار غذای ستاد</span>
      <div class="form-check form-switch ms-3">
        <input class="form-check-input f-20" type="checkbox" id="flexSwitchCheckDefault">
      </div>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}">
      <span >پیشنهادات و انتقادات</span>
    </li>
    <li class="align-items-center d-flex list-group-item border-0 py-3 pointer {{showMenu ? 'justify-content-center' : ''}}">
      <span >تغییر رمز</span>
    </li>
    <li class="align-items-center d-flex list-group-item list-group-item-red border-0 py-3 red-color pointer">
      <span>خروج</span>
    </li>
  </ul>

</div>

<ng-template #popContent>
  <ul class="list-group list-group-flush px-0 f-12 fw-bold">
    <li class="list-group-item rounded-0 border-0 pointer">دسترسی کاربر</li>
    <li class="list-group-item rounded-0 border-0 pointer">دسترسی مدیر</li>
    <li class="list-group-item rounded-0 border-0 pointer">دسترسی مهرسام</li>
    <li class="list-group-item rounded-0 pointer">
      <div class="form-check form-switch float-start">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      </div>
      رزرو خودکار غذای ستاد
    </li>
    <li class="list-group-item rounded-0 border-0 pointer" (click)="showChangeModal()"> تغییر رمز</li>
    <li class="list-group-item rounded-0 border-0 pointer red-color">  خروج</li>
  </ul>
</ng-template>
